<IfModule mod_rewrite.c>
    RewriteEngine On
    Rewriterule ^phpmyadmin/.*$ - [PT]		
    Rewriterule ^wordpress/.*$ - [PT]  
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
